body {
    background-image: url("../images/train.jpg");
    background-position: center;
    height: 100%;
    font-family: 'Marcellus SC', serif;
}
.navbar-brand{
    font-size: 15px;
    color: black;
}
.jumbotron, .train-info, input{
    text-align: center;
    opacity: 0.7;
}
form{
    font-size: 20px;
    font-weight: bold;
}
#newTrainBtn{
    background-color: #808080a3;
}